/*general styling of the todo list page*/
.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}

.todo-list-line {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: .5px solid #848484;
}

.todo-list-title{

    font-size: 26px;
    font-family: 'Nunito', sans-serif;
}

.todo-list-wrapper {
    height: 800px;
    display: flex;
    overflow-y: scroll;
    width: 80%;
}
 @media(max-width:780px){
    .todo-list-wrapper {
        width: 100%;
    }
 }
/*scroll bar styling*/
::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }




/*todo page header styling*/
/*all:unsert resets the search box*/

.task-form {
  background-color: transparent;
  /* So the search bar changes as the width of the page changes */
  width: 40%;
  border:1px solid var(--border-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.task-form:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}

.task-form-search {
    all: unset;
    font: 16px system-ui;
    /* color: #333; */
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    background-color: transparent;
}
/* 
.task-form-search::placeholder {
    /* color:#333; */
    background-color: transparent;
    color: lightgray;
} */
.categories {
    /* background: var(--pure-white); */
    border: 1px solid var(--border-color);
    border-radius:5px;
    width: 100px;
    height: 30px;
    padding-left: 8px;
}

.task-form-btn {
    all:unset;
    cursor:pointer;
    width: 44px;
    height: 44px;
    
}

.task-form-btn svg {
    /* color: #333; */
    fill: currentColor;
    width: 44px;
    height: 44px;
    padding: 10px;
}

.todo-list-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 0px;
    width: 80%;
}
@media(max-width:615px){
   .todo-list-header {
    width: 100%;
   }
}



/*todo card styling*/
.todo-card {
    color: black;
    margin-bottom: 15px;
    width: 1000px;
    height: 60px;
    background:rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 0 0 10px #dbdbdb;
    transition: .3s;
}
@media(max-width:1280px){
    .todo-card {
        width: 90%;
    }
    .todo-card {
        align-items: center;
    }
}

.todo-card.blue {
    background:var(--homework-task);
}
.todo-card.blue:hover {
    background:var(--homework-task-hover);
}
.todo-card.green{
    background:var(--project-task);
}
.todo-card.green:hover {
    background: var(--project-task-hover);
}

.todo-card.purple {
    background: var(--quiz-task);
}
.todo-card.purple:hover {
    background: var(--quiz-task-hover);
}

.todo-card.orange {
    background: var(--test-task);
}
.todo-card.orange:hover {
    background: var(--test-task-hover);
}

.todo-card.yellow {
    background: var(--essay-task);
}
.todo-card.yellow:hover {
    background: var(--essay-task-hover);
}

.card-body {
    height: 60px;
}


.card-body {
    width: 100%;
}


.due-icon {
    height: 33px;
    width: 33px;
    margin-left: 5px;
    margin-right: 10px;
}

.late-task, .ontime-task {
    font-size: 20px;
    width: 110px;
}
.late-task {
color: var(--primary-red);
    text-align: center;
}

.ontime-task {

}

.todo-card:hover {
    background: var(--primary-blue);
}
.todo-card-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.due-date-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    width: 250px;
    font-family: 'Nunito', sans-serif;
}

.due-date {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
@media(max-width:615px){
    .due-date {
        display: none;
    }
    .late-task, .ontime-task {
        display: none;
    }
    .due-date-wrapper {
        display: none;
    }

}

.name-wrapper {
    margin-left: 20px;
    width: 200px;
    font-family: 'Nunito', sans-serif;
}

.name {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
@media(max-width:1280px){
    .name, .due-date, .late-task, .ontime-task {
        font-size: 17px;
    }
}

.form-icons {
    display: flex;
    align-items: center;
    width: 120px;
    margin-top: 8px;
}
.form-icons svg {
    width: 44px;
    height: 44px;
}

.form-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 5px;
}
@media(max-width:1070px){
    .form-icon.mobile {
        width: 27px;
        height: 27px;
        cursor: pointer;
        margin-right: 5px;
    }
    .form-icons svg {
        width: 35px;
        height: 35px;
    }
}





/*task detail modal card styling*/
.task-header {
    display: flex;
    justify-content: space-between;
    color: var(--primary-blue);
    font-family: 'Nunito', sans-serif;
}

.task-detail-btn {
    width: 80px;
    cursor: pointer;
    height: 44px;
    border-radius: 10px;
    border: none;
    background: var(--primary-blue);
    color: var(--pure-white);
}

.task-detail-name {
    color: #333;
}
.task-detail-name.dark {
    color: var(--primary-blue);
}


.task_modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    font-size: 20px;

}



.task-detail-body {
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   width: 100%;

}

.task-detail-description
 {
    width: 100%;
 }

 .detail-description {
    width: 100%;
    height: 80px;
    text-align: left;
    border-radius: 10px;
 }

 .description-title {
    margin: 5px 0px;
 }

 .task-detail-category, .detail-description {
    margin-bottom: 15px;
 }

.task_modal_content{
    text-align: center;
    margin: auto;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    position: relative ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--pure-white);
    margin: auto;
    padding: 30px 25px;
    border-radius: 10px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: #333;

}

.task_modal_content.dark {
    color: var(--primary-blue);
    background: rgb(78, 78, 78);
}

.task-detail-footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.todo-no-tasks {
    font-size: 25px;
    margin-top: 40px;
    font-family: 'Nunito', sans-serif;
}

label{
    padding-right: 10px;
}