.todo-form {
    height: 500px;
    width: 50%;

}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 10px;
    align-items: baseline;
    width: 100%;
}

.form-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-header svg {
    cursor: pointer;
}
.back-btn {
    width: 80px;
    cursor: pointer;
    font-size: 15px;
    height: 44px;
    border-radius: 10px;
    border: none;
    background: var(--primary-blue);
    color: var(--pure-white);
    
}

.task-name {
    font-size: 20px;
}

.input-field.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-right: 10px;
    align-items: flex-start;
}

.category-inputs {
    display: flex;
}

.split-input-field.form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
}
.form-input {
    font-size: 17px;
}
.form-input.form {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    /* background: #fff; */
    box-sizing: border-box;
    /* color: #333; */

}

.form-split {
    width: 50%;
}

.change-measurement {
    display: flex;
    justify-content: space-between;
}


.form-input.split {
    width: 100%;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    /* background: #fff; */
    box-sizing: border-box;
    /* color: #333; */
}

.split-twice {
    width: 60%;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    /* background: #fff; */
    box-sizing: border-box;
    /* color: #333; */
}

.form-input.description {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    /* background: #fff; */
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    resize: none;
    /* color: #333; */
    font-family: Arial, Helvetica, sans-serif;
}


.hidden {
    display: none;
}

.form_modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.form-title {
    color: #333;
    font-size: 26px;
}


.form_modal_content{
    text-align: center;
    margin: auto;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    position: relative ;
    margin: auto;
    padding: 30px 25px;
    border-radius: 10px;
    border: none;
    width: 40%;
    background: var(--pure-white);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: #333;
}

.form_modal_content.dark, .form-title.dark {
    color:var(--primary-blue);
    background: rgb(78, 78, 78);
}


.update-footer-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-submit-btn, .form-delete-btn {
    width: 105px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    height: 44px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: var(--pure-white);
}

.form-submit-btn {
    background: var(--primary-blue);
    justify-self: flex-start;
}
.form-delete-btn {
    background: var(--primary-red);
    justify-self: flex-end;

}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
.checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.error-create {
    color: red;
}

.text-and-checkbox-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-right {
    display: flex;
    align-items: flex-start;
    accent-color: white;
}

.dropbtn {
    background: var(--primary-blue);
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
  }

.option-btn {
    background: white;
    color: black;
    padding: 10px;
    font-size: 15px;
    border: solid 1px black;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0.3,0.3,0.3,0.4);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .option-btn :hover {background-color: var(--primary-blue);}
  
  .dropdown:hover .dropdown-content {display: flex;}
  
  .dropdown:hover .dropbtn {background-color: var(--primary-blue);}

  ::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
}