.dashboard-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 1021px;
    background:var(--grey-bg) ;
}


/* editing the content section formatting into 3 columns */
.dashboard-columns {
    
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    margin-top: 60px;

}

.dashboard-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dashboard-column.intro {
    justify-content: space-between;
    align-items: center;
    gap: 20px
    ;
    width: 30%;
}


.dashboard-column.middle {
    gap: 10px;
    width: 70%;
}

.dashboard-stats {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 25px;
    width: 100%;
}

.dashboard-welcome {
        margin-left: 25px;
        text-align: center;
}

/* editing the welcome card */


#dashboard-pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.dashboard-main-welcome {
    width: 430px;
}

.random-dash-stat {
    background: var(--pure-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid gray;
    width: 500px;
    height: 325px;
}


/* editing total task card */

.total-task-card, .latest-grade-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 470px;
    height: 250px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border: none;
    align-items: flex-start;
    background-color: #63a4ff;
    color: #333;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        
}

.task-card-header, .grade-card-header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
}

.total-tasks,.latest-grade {
    font-size: 55px;
    margin-left: 50px;
}


#total-task-card-img, #latest-grade-card-img {
    width: 80px;
    height: 80px;
    
}
.friends-column {
    height: 400px;
    border: none;
    width: 470px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    justify-content: flex-start;
    background: rgb(255, 192, 74);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.friends-column:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.friends-column-header {
    font-size: 35px;
}
.friends {
    width: 100%;
}

.friend-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right:10px;
}

.friend {
    width: 100%;
}

.friend-username {
    font-size: 22px;
}

.total-task-card-title, .latest-grade-card-title {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    flex: 1;
}

/* Editing formatting and spacing for Todo Bulletin */

.dash-todo-viewer {
    width:100%;
    align-self: flex-end;
    margin-top: 60px;
    height:382px;
  
}


.todo-bulletin {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    align-items: flex-start;
    padding-left: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.no-tasks-message {
    font-size: 25px;
}

.todo-bulletin-area {
    width: 100%;
    display: flex;
}
.todo-bulletin-tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
}   

.view-more-btn {
    margin-right: 4px;
    margin-bottom: 12px;
    align-self: flex-end;
    background: var(--primary-blue);
    font-size: 22px;
    width: 80px;
    cursor: pointer;
    font-size: 15px;
    height: 44px;
    border-radius: 10px;
    border: none;
    color: var(--pure-white);
}

.todo-date {
    margin-top: 15px;
}

.mini-card {
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
}



.mini-card-content {
    margin-left: 20px;
    width: 50%;
    padding:10px;
    font-size: 25px;
    height: 80px;
    background:#D9EAFF;
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px #dbdbdb;
    transition: .3s;
}

.mini-card-content.blue {
    background:var(--homework-task);
}
.mini-card-content.blue:hover {
    background:var(--homework-task-hover);
}
.mini-card-content.green{
    background:var(--project-task);
}
.mini-card-content.green:hover {
    background: var(--project-task-hover);
}

.mini-card-content.purple {
    background: var(--quiz-task);
}
.mini-card-content.purple:hover {
    background: var(--quiz-task-hover);
}

.mini-card-content.orange {
    background: var(--test-task);
}
.mini-card-content.orange:hover {
    background: var(--test-task-hover);
}

.mini-card-content.yellow {
    background: var(--essay-task);
}
.mini-card-content.yellow:hover {
    background: var(--essay-task-hover);
}