.register-page {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}
.register-title {
    font-weight: bold;
    font-size: 35px;
}
.register-subtitle {
    font-size: 22px;
}
.side-nav-bar {
    width:50%;
    margin-left: 0;
    background: var(--primary-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width:1195px) {
    .side-nav-bar {
        display: none;
    }

    .register-title {
        font-size:25px;
    }
    .register-subtitle {
        font-size:18px;

    }
}

.side-bar-title {
    font-size: 33px;
    margin-left: 60px;
    margin-right: 60px;
    color: white;
}

.side-bar-desc {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: white;
}

.register-img {
    width: 500px;
    height: 500px;
}
.side-nav-image-wrapper {
    margin-top: 14px;
}


.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0px;
}
.main-titles {
    align-self: flex-start;
}

.register-form-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width:1195px){
    .register-form-wrapper {
        margin-top: 50px;
        justify-content: center;
        width: 70%;
    }
    .input-field-split {
        width: 50%;
    }
    .register-form {
        width: 100%;
    }
    .form-input::placeholder, .form-input-split::placeholder {
        font-size: 14px;
    }
}

@media(max-width:650px) {
    .register-form-wrapper {
        margin-top: 50px;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
    }
}
@media(max-width:1338px) {
    .input-field-split {
        width: 40%;
    }
    .register-form {
        width: 80%;
    }
}

/* .register-form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 60%;
} */

.split-input-field {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.label {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 18px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 10px;
}

.input-field-split {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-field.register {
    margin-bottom: 0px;
    width: 100%;
}

.image-and-clear {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.form-input-image {
    border-radius: 5px;
    border: none;
    height: 40px;
}

.file-size-text{

    font-weight: bold;
}



.form-input.alone, .form-input-split {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 10px 5px;
}
/* .form-input-split::placeholder {
    color: rgb(32, 32, 32);
} */

.loading-spinner {
    margin: 0 auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding: 8px 5px;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-blue);
    color: var(--pure-white);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.register-btn:hover {
    background: #109de4;
}

.register-break {
    border:none;
    border-top:1px solid rgb(155, 155, 155);
    color:#fff;
    background-color:#fff;
    height:1px;
    width: 300px;
    margin: 0;
    margin-top: 20px;
}
.register-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-link, .login-account {
    font-size: 19px;
    margin-top: 20px;
}
.login-link {
    color: var(--primary-blue);
    text-decoration: none;
}

/* For messages if no graphs are available */
.no-graphs {
    font-size: 25px;
}

/* button to clear image */
.trash-btn {
    margin-right: 0.5rem;
    margin-top: 3px;
}

.trash-btn.hidden {
    display: none;
}