.navbar {
    max-width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    box-shadow:  0 6px 4px -4px rgba(0,0,0,0.7); 
    margin-bottom: 45px;
}

.navbar .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 700px;
    grid-gap: 50px;
    gap: 50px;
}

.account-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 700px;
    grid-gap: 50px;
    gap: 50px;
    margin-right: 80px;
}

.nav-btn {
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    color: black;
    background-color: white;
    border-style: none;
    font-size: 20px;
}

.active {
    background-color: #34B3F1;
    color: white;
}

#home-logo {
    height: 40px;
    width: 40px;
}

.logo-title {
    margin-left: 80px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 700px;
    grid-gap: 50px;
    gap: 50px;
}

#pfp {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.google-icon-nav {
    height: 33px;
    width: 33px;
}
.google-signin-text-nav{
    font-size: 14px;
    text-decoration: none;
}
.google-logout {
 text-decoration: none;
}
