.recap-page {
    margin-top: 45px;
    font-family: 'Nunito', sans-serif;
}

.recap-title {
    text-align: center;
    font-size: 30px;
}

.chart-area {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.graph-area {
    margin-top: 20px;
}

.load-more {
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background: var(--primary-blue);
    color: white;
    font-size: 15px;
    cursor: pointer;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.no-graphs {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;;
}
