.recap-page {
    font-family: 'Nunito', sans-serif;
}

.recap-title {
    text-align: center;
    font-size: 30px;
}

.chart-area {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


