/*login page general styling*/
.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.side-nav-bar {
    width: 800px;
    margin-left: 0;
    height: 100vh;
    background: var(--primary-blue);
    display: flex;
    justify-content: center;
}

.login-img {
    width: 500px;
    height: 500px;
}

.side-bar-title {
    font-size: 25px;
    margin-left: 60px;
    margin-right: 60px;
    color: white;
}
.side-bar-desc {
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

.side-nav-image-wrapper {
    margin-top: 10px;
}


/*login form styling*/
.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60%;
}
.label {
    margin-bottom: 4px;
}
.login-form{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    justify-content: space-evenly;
    }

    .login-form-intro {
    }

.login-text{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}


.checkbox-text{
    display: flex;
    flex-direction: column;
}

.error {
    font-size: 15px;
    color: var(--primary-red);
}

.login-title{

display: flex;
flex-direction: column  ;
font-weight: bold;
font-size: 35px;

}

.form-input{
    width: 300px;
    padding: 10px 5px;
    border-radius: 5px;
    background: var(--input-background);
    border: none;
    height: 54px;
}

#email {
    width:450px;
}
#password {
    width: 450px;
}

.form-input, .error {
    margin-bottom: 10px;

}

.login-button{
background-color:#34B3F1;
width: 450px;
border-radius: 5px;
font-size: 20px;
height: 54px;
border: none;
align-self: flex-start;
padding: 15px 20px;
color: white;
cursor: pointer;
margin-top: 15px;
}
.signup-link {
    color: var(--primary-blue)
}

.label{

 font-size: 20px;  
    
}


.login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    margin-top: 50px;
}

.footer-text a:link{
    text-decoration: none;
    
}

.footer-text a:active{
    text-decoration: underline;
}

/* Adding css for google sign in  */
.ride-line {
    margin-top: 20px;
    color: #747487;
    margin-right: 35px;
}

.google-login {
    margin-right: 35px;
    margin-top: 20px;
}


