/*login page general styling*/
.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}

.h2, .h3 {
}

.side-nav-bar {
    width: 800px;
    margin-left: 0;
    height: 100vh;
    background: var(--primary-blue);
    display: flex;
    justify-content: center;
}

.login-img {
    width: 500px;
    height: 500px;
}

.side-bar-title {
    font-size: 30px;
    margin-left: 60px;
    margin-right: 60px;
    color: white;
}
.side-bar-desc {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

.side-nav-image-wrapper {
    margin-top: 10px;
}


/*login form styling*/
.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60%;
}
.label {
    margin-bottom: 4px;
}
.login-form{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    justify-content: space-evenly;
    font-family: 'Nunito', sans-serif;

    }
    .login-form-intro {
        margin-bottom: 20px;
    }

.login-text{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}


.checkbox-text{
    display: flex;
    flex-direction: column;
}

.error {
    font-size: 15px;
    color: var(--primary-red);
}

.login-title{

display: flex;
flex-direction: column  ;
font-weight: bold;
font-size: 35px;
font-family: 'Nunito', sans-serif;


}
.input-field {
    width: 450px;
}
.form-input{
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    height: 54px;
}

.form-input::placeholder {
    color: gray;
}

#email {
    width:450px;
}
#password {
    width: 450px;
}

.form-input, .error {
    margin-bottom: 10px;

}

.login-button{
background-color:#34B3F1;
width: 450px;
border-radius: 5px;
font-size: 20px;
height: 54px;
border: none;
align-self: flex-start;
padding: 15px 20px;
color: white;
cursor: pointer;
margin-top: 15px;
}
.signup-link {
    color: var(--primary-blue)
}

.label{

    font-size: 20px;  
    padding-bottom: 5px;
}


.login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}

.footer-text {
    margin-top: 50px;
    font-size: 22px;
}

.footer-text a:link{
    text-decoration: none;
    
}

.footer-text a:active{
    text-decoration: underline;
}

/* Adding css for google sign in  */
.ride-line {
    margin-top: 20px;
    /* color: #747487; */
    margin-right: 35px;
}

.google-login {
    margin-right: 35px;
    margin-top: 20px;
    width: 450px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    background-color:#fff;
    width: 450px;
    border-radius: 4px;
    font-size: 20px;
    height: 54px;
    border: 1px solid var(--border-color);
    align-self: flex-start;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 20px;
}

.google-signin-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    align-self: center;
    width: 50%;
}

.ride-line {
}

.google-icon {
    height: 44px;
    width: 44px;
    margin-right: 8px;
}


