.login-page{
display: flex;
flex-direction: row;

}

.side-nav{
display: flex;
flex-direction: row;
}

.login-form{
display: flex;
flex-direction: column;

}

.login-text{
    display: flex;
    flex-direction: column;
}

.checkbox-text{
    display: flex;
    flex-direction: column;
}

.login-title{

display: flex;
flex-direction: column  ;

}