.todo-page {
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center;
    width: 100vw;
    font-family: 'Nunito', sans-serif;
    margin-top: 45px;
}



.todo-title {
    font-size: 30px;
}

.todo-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.todo-btn.create {
    cursor: pointer;
}