@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;1,300&family=Assistant&family=Montserrat&family=Nunito&display=swap");
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;


  --side-padding: 40px;
  --content-width: 1100px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --test-task:hsl(32, 100%, 85%);
  --homework-task:#cdebff;
  --homework-task-hover:#6ac3ff;
  --quiz-task:#ccc4fc;
  --quiz-task-hover:#9f8efc;
  --project-task:#c8f1b7;
  --project-task-hover:#87c86d;
  --essay-task:#ffd0f1;
  --essay-task-hover:#fb90ff;
  --test-task-hover:#fba542;
  --bright-red: #fe3210;
  --muted: #969696;
  --background-color:#f7f7f7;
  --font-dark: #212121;
  --primary-blue: #34B3F1;
  --input-background:#F2F2F2;
  --body-background: #FFFFFF;
  --font-light: #5b5b5b;
  --primary-red:rgb(255, 56, 56);
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --heading-color: #172B4D;
  --landing-text-color: #869197;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
 
  /*-webkit-font-smoothing: antialiased;*/
 /* -moz-osx-font-smoothing: grayscale;*/
  background: var(--pure-white);
  height: 100vh;
  width:100vw;
  font-family: 'Montserrat', sans-serif;
  /*
  font-family: 'Aleo', serif;
  font-family: 'Assistant', sans-serif;
  */
}


* {
  box-sizing: border-box;
}

