:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --side-padding: 40px;
  --content-width: 1100px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --primary-blue: #34B3F1;
  --input-background:#F2F2F2;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --heading-color: #172B4D;
  --landing-text-color: #869197;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8d8b8b;
  height: 100vh;
  width:100vw;
}


* {
  box-sizing: border-box;
}

