.chart-card {
    padding: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px lightblue;
}

.chart-card-mini {
   
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    background: var(--pure-white);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);}

.chart-card-mini:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.chart-title {
    font-size: 25px;
    text-align: center;
}