.chart-card {
    padding: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px lightblue;
}

.chart-card-mini {
    width: 575px;
    height: 555px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    
}

.chart-title {
    font-size: 25px;
    text-align: center;
}