.chart-card {
    padding: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px  #dbdbdb;
}

.chart-card-mini {
   
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 600px;
    height: 515px;
    padding: 50px;
    /* background: var(--pure-white); */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);}

.chart-card-mini:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.chart-title {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}





@media(max-width:700px) {
    .chart-card {
        width: 550px;
        height: 560px;
    }
    .boundary-graph {
        width: 470px;
        height: 470px;
    }
    .chart-title {
        font-size: 20px;
        margin-bottom: 20px;

    }
}

@media(max-width:600px) {
    .chart-card {
        width: 400px;
        height: 400px;
    }
    .boundary-graph {
        width: 320px;
        height: 320px;
    }
    .chart-title {
        font-size: 18px;
        margin-bottom: 15px;

    }
}

@media(max-width:450px) {
    .chart-card {
        width: 300px;
        height: 300px;
    }
    .boundary-graph {
        width: 220px;
        height: 220px;
    }
    .chart-title {
        font-size: 15px;
        margin-bottom: 3px;
    }
}

